body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a58b7c;
}
header {
    background-color: #897777;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
.nav-left, .nav-right {
    display: flex;
    align-items: center;
}
.nav-left a, .nav-right a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
.logo a:hover, .nav-left a:hover, .nav-right a:hover {
    text-decoration: underline;
}
.social-icons img, .nav-left img {
    width: 20px;
    margin: 0 5px;
}
.content {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0;
}
.highlight {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.signature {
    font-style: italic;
    font-size: 20px;
    color: #555;
    margin-top: 30px;
}